[Unit]
Description=AIDA output service - saving predicted messages from Kafka into file {{ predictions_file_path }}
Requires=kafka-topic@predictions.service
After=network-online.target kafka-topic@predictions.service

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart=/bin/sh -c "{{ kafka_dir }}/bin/kafka-console-consumer.sh --bootstrap-server localhost:9092 --topic predictions >> {{ predictions_file_path }}"
Restart=on-failure
SuccessExitStatus=130

[Install]
WantedBy=multi-user.target
