<ng-container [ngSwitch]="name">
  <!-- <ng-container *ngSwitchCase="'ADS'">
    <comp-ads [config]="config" [title]="title"></comp-ads>
  </ng-container>
  <ng-container *ngSwitchCase="'RTIR'">
    <comp-rtirtickets [config]="config" [title]="title"></comp-rtirtickets>
  </ng-container>
  <ng-container *ngSwitchCase="'NEWSFEED'">
    <comp-news-feed [config]="config" [title]="title"></comp-news-feed>
  </ng-container>

  <ng-container *ngSwitchDefault>
    No component with given name found!
  </ng-container> -->

</ng-container>
