[kafka]
kafkaBrokers = 127.0.0.1:9092
kafkaConsumerGroupId = feedback
kafkaAggregatedTopic = aggregated
kafkaPredictionsTopic = predictions
kafkaObservationsTopic = observations

[observations]
measureFromTopic = true
