<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-7 login-background d-md-block d-sm-none d-none">
            <img src="../../../assets/images/sabu-logo.png" alt="SABU" class="sabu-logo">
        </div>
        <div class="col-md-5 align-self-center pl-5 pr-5">
            <h1 class="text-center">AIDA Framework</h1>
            <hr>
            <app-simple-login></app-simple-login>
            <p style="margin-top:5cm;">
            Tento software vznikl na Masarykově univerzitě v rámci výzkumu podpořeného z Bezpečnostního programu České republiky v 2015 - 2020 (BV III / 1 VS) Ministerstva vnitra České republiky s identifikátorem  VI20162019029 - Sdílení a analýza bezpečnostních událostí v ČR.
            <br><br>
            <img src="../../../assets/images/muni-logo.png" alt="MUNI" align="left"><img src="../../../assets/images/mvcr-logo.png" alt="MVCR" align="right">
            </p>
        </div>
    </div>
</div>
