[Unit]
Description=AIDA input service - listean on {{ aida_input_port }} port for IDEA messages and feeds them into AIDA framework
Requires=kafka-topic@input.service
After=network-online.target kafka-topic@input.service

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart=/bin/sh -c "nc -k -l {{ aida_input_port }} | {{ kafka_dir }}/bin/kafka-console-producer.sh --broker-list localhost:9092 --topic input"
Restart=on-failure
SuccessExitStatus=130

[Install]
WantedBy=multi-user.target
