[Unit]
Description=Detects rules in a stream of alerts from kafka topic. Send predicted and observed rules into another kafka topics.
Requires=kafka-topic@aggregated.service kafka-topic@predictions.service kafka-topic@observations.service
After=kafka-topic@aggregated.service kafka-topic@predictions.service kafka-topic@observations.service

[Service]
Type=simple
User={{ matching_user }}
Group={{ matching_user }}
ExecStart=/usr/bin/env java -jar {{ matching_dir }}/matching.jar --config-file {{ matching_config_file }}
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
