h1 {
    text-align: center;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

// .component-newsfeed-adjusment {
//     width: 80%;
//     display: inline-block;
// }

// .component-newsfeed {
//     display: inline-block;
//     position: absolute;
//     height: 95%;
//     margin-left: 10px;
//     top: 5%;
//     width: 19%;
// }

// /deep/ .component-newsfeed * {
//     min-height: 100% !important;
//     display: contents;
//     max-height: 100% !important;
//     height: 100% !important;
// }
